# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать все лог-файлы
*.log

# Игнорировать сборки
build/
dist/

# Игнорировать IDE / редакторы
.vscode/
.idea/
*.iml

# Игнорировать временные файлы
*.tmp
*.bak
